@{ 
    ViewBag.Title = "About Us";
}
<div class="jumbotron">
    <h1>About Us</h1>
    <p>Pizza app is an app made with love for pizza</p>
    <p>All tips go to a non profit organization for pizza delivery guys safety</p>
    <p>We are a team of 20+ people working to ensure you get your pizza on time safely</p>
</div>

